<div class="container">
      <div class="mb-5">
            <%= image_tag 'about2-2.jpg', alt: 'About Image' ,class:"img-fluid"%>
      </div>
      <h1>About e-Life Share</h1>
      <p class="mt-4">e-Life Share は、日々の生活をより良くするためのライフハックを共有するSNSです。<br>
      ユーザーが簡単に役立つ情報を投稿し、他のユーザーがその情報を検索・閲覧できるプラットフォームを提供します。<br>
      情報収集の手間を減らし、生活を向上させることを目指します。
      </p>

</div>