/* resetト --------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

html {
  font: 100%/1.5 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}



/* 共通レイアウト --------------------------- */
body {
  color: #2d3133;
  margin: 0;
}

.navi_area{
  color: #6699CC;
}

/*--------------------------------------------*/
